<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletControlEntrada</servlet-name>
        <servlet-class>servlets.ServletControlEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarNuevoUsuario</servlet-name>
        <servlet-class>servlets.RegistroNuevoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatosUsuario</servlet-name>
        <servlet-class>servlets.ModificarDatosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>servlets.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroNuevoUsuario</servlet-name>
        <servlet-class>servlets.RegistroNuevoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControlEntrada</servlet-name>
        <url-pattern>/ServletControlEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarNuevoUsuario</servlet-name>
        <url-pattern>/GuardarNuevoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatosUsuario</servlet-name>
        <url-pattern>/ModificarDatosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroNuevoUsuario</servlet-name>
        <url-pattern>/RegistroNuevoUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
